*{margin:0; padding:0;}

.mainbanner{
    position: relative;
}
.mainbanner img{
    position: relative;
    width:100%;
    margin:0 auto;
}

.mainbanner h1{
    color:white;
    position:absolute;
    top: 40%;
    width:100%;
    font-family:  'Aoboshi One', serif;;
    text-align:center;
    font-size: 3.6vw;
}
.mainbanner h3{
    color:white;
    position:absolute;
    top: 53%;
    width:100%;
    text-align:center;
    font-size: 3vw;
}